/* ============      Navigation  ================*/


.nav-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    background: #3e474f;
    box-shadow: 0 .5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

header label  {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 2.25em;
    font-weight: bold;
    padding: 0 1em;
}

header button label {
    font-size: 1.4em;
}

header button:hover {
    background: #2e353b;
}

.label-wrapper {
    font-size: 1em;
    margin-right: auto;
}
.label-wrapper button{
    padding: 0;
}

/* ============ Openning Page ============== */
.slide-zero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    z-index: 0;
    padding: 0 0 0 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../pics/8.jpg');
}

[id^="slide-0"]:checked + .slide-zero{
    top: 0;
    z-index: 100;
    transition: top 2s ease-out;
}

.layer-zero {
    position: absolute;
    margin: -1em 0 0 0;
    height: 100%;
    width: 100%;
    background-color:rgba(62, 71, 79, .5);
}

.layer-zero button{
    font-size: 6em;
    position: relative;
    margin-top:2.5em;
    margin-right: auto;
    top: 100%;
    padding-top: 0;
    opacity: 0.7;
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button{
    top: 0;
    z-index: 100;
    transition: top 2s ease-out;
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button:hover{
    transition: transform 1s ease-out;
    transform: scale(1.2);
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button:active{
    transform: scale(1.4);
}

 /*  ==========    MENU Page - Section     ================   */

 .slide-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    z-index: 0;
    padding:  0 0 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../pics/7.jpg');
}

[id^="slide-menu"]:checked + .slide-menu{
    top: 0;
    z-index: 100;
    transition: top .65s ease-out;
}

.container-menu {
    position: relative;
    top: -100%;
    z-index: 10;
    background-color:rgba(62, 71, 79, .5);
    padding: 3em 3em 3em 3em;
    margin: auto;
    margin-top: 4.5em;
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10%;
    font-weight: lighter;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu {
    top: 0;
    z-index: 100;
    transition: top .65s .5s ease-out;
}

.grid-button, .grid-button-2 {
    background-color:rgba(62, 71, 79, .5);
    position: relative;
    top: -300%;
    z-index: 10;
    border: 3px solid white;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu .grid-button {
    top: 0;
    z-index: 100;
    transition: top .65s 1s ease-out, transform 1s;
    opacity: 1;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu .grid-button-2 {
    top: 0;
    z-index: 100;
    transition: top .65s 1.4s ease-out, transform 1s;
}


.grid-button button, .grid-button-2 button {
    font-size: 3em;
    font-weight: bolder;
    padding: 0 0 0 0;
}

.grid-button:hover, .grid-button-2:hover {
    transform: scale(1.1);
}

.grid-button:active, .grid-button-2:active {
    transform: scale(1.2);
}

/*       =============     Menu Sections =============== */

/* --- List of relations --- */

.relations-buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 0;
    padding: 1em 0 1em 0;
    background-color:rgba(62, 71, 79, .5);
    font-size: 4em;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}
.relations-buttons label:hover{
    transform: scale(1.2);
    transition: transform .5s;
}
.relations-buttons::-webkit-scrollbar {
    display: none;
}
.relations-buttons {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/* --- O nas - section ---*/
.onas-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 100;
    padding: 1.3em 0 3em 0;
    background-color:rgba(62, 71, 79, .5);
    overflow: auto;
}

.onas-container img {
   display: inline-block;
}
.onas-container::-webkit-scrollbar {
    display: none;
}
.onas-container {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}


/* --- Dzidzia section ---*/
.dzidzia-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 100;
    padding: 1.3em 0 3em 0;
    background-color:rgba(62, 71, 79, .5);
    overflow: auto;
}

/* --- Galeria section ---*/

.galeria-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 100;
    padding: 1.3em 0 3em 0;
    background-color:rgba(62, 71, 79, .5);
    overflow: auto;
}


/* ============ Relations Sections  ========================= */

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 10em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
    overflow: auto;
}
.slide::-webkit-scrollbar {
    display: none;
}
.slide {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.slide-one {
    background-image: url('../pics/3.jpg');
}

.slide-two {
    background-image: url('../pics/2.jpg');
}

.slide-three {
    background-image: url('../pics/4.jpg');
}

.slide-four {
    background-image: url('../pics/1.jpg');
}

.slide-five {
    background-image: url('../pics/5.jpg');
}

.slide-six {
    background-image: url('../pics/6.jpg');
}

[id^="slide"]:checked + .slide{
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide button {
    margin-top: 0.2em;
    font-size: 10em;
    opacity: 0;
    transform: translateY(140%);
}


[id^="slide"]:checked + .slide button {
    opacity: 1;
    transform: translateY(0);
    transition: transform .5s .5s, opacity .5s .5s;

}

[id^="slide"]:checked + .slide button:hover {
    cursor: pointer;
    transition: transform 1s 0s;
    transform: scale(1.2);
}

.container {
    position: fixed;
    margin-top: 10em;
    top:0;
    transform-origin: 0.5 0.5;
    opacity: 0.8;
    width: 100%;
    transition: transform 1s;
    z-index:50;
}
.container-center {
    margin: center;
}

/* Relations content */

.relations-content {
    background-color:rgba(62, 71, 79, .7);
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: -5em;
    overflow: auto;
    opacity: 0;
    margin-bottom: 6em;
}



/* ==================    FOOTER   ===========*/


footer {
    margin-top: auto;
    background: #3e474f;
    box-shadow: 0 -.2em 1em #111;
    z-index: 900;
    line-height: 0.3em;
    font-size: 0.8em;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #788188;
    font-size: .5 em;
    padding-left: 0;
}

.footer li {
    margin: auto;
}

.footer a:hover {
    -webkit-box-shadow: 0px 0px 15px 18px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
 }

/* ----------- Exit - buttons --------*/

 .exit-div {
     position: relative;
     width: 2%;
     height: 2%;
     left: 92%;
     margin-top: 5%;
 }

 .exit-div:hover {
     cursor: pointer;
 }


 /*----- MEDIA QUERIES ---------*/

@media (max-width: 1023px) {
header label {
    line-height: 1.5em;
}
header label button {
    font-size: 1em;
}
.layer-zero button{
    font-size:4em;
    margin-top:3em;
}
.slide button {
    margin-top: 0em;
    font-size: 8em;
}
h2 {
    font-size: 1.2em;
}
p{
    font-size: 1.1em;
}
.container-menu {
    grid-gap: 7%;
    padding: 2.5em 2.5em 2.5em 2.5em;
}
.grid-button button, .grid-button-2 button {
    font-size: 2.7em;
    font-weight: bolder;
    padding: 0 0 0 0;
}
.grid-button, .grid-button-2 {
    border: 3px solid white;
}
}

@media (max-width: 734px) {
header label {
    line-height: 0.7em;
}
header label button {
    font-size: 0.5em;
}
.layer-zero button{
    font-size:3em;
    margin-top:2.9em;
}
.slide button {
    margin-top: -1.5em;
    font-size: 6em;
}
h2 {
    font-size: 1.1em;
}
p{
    font-size: 1em;
}
.container-menu {
    grid-gap: 5%;
    padding: 2em 2em 4em 2em;
}
.grid-button button, .grid-button-2 button {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 0 0 0 0;
    margin-top: 0;
}
.grid-button, .grid-button-2 {
    border: 3px solid white;
}
.relations-content {
    width: 100%;
}
}

@media (max-width: 599px) {
.hide {
    display:none;
}
.label-wrapper {
    padding-top: 5px;
}
header label {
    line-height: 1em;
}

.layer-zero button{
    font-size:3em;
    margin-top:6em;
}
.slide button {
    margin-top: 2.6em;
    font-size: 3em;
}

h2 {
    font-size: 1em;
}
p{
    font-size: .7em;
}
.exit-div {
    width: 5%;
    height: 5%;
}
.container-menu {
    height: 70%;
    margin-top: 7.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    padding-bottom: 2em;
    font-weight: lighter;
}
.grid-button button, .grid-button-2 button {
    font-size: 2em;
    padding: 0 0 0 0;
}
.grid-button, .grid-button-2 {
    border: 2px solid white;
}
.relations-content {
    width: 100%;
    margin-top: -2em;
}
.relations-buttons {
    padding-top: 5em;
    font-size:1.5em;
}
.relations-buttons label{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.button-click-menu {
    font-size: 1.8em;
}
.exit-div {
    padding-top: 4em;
}
.onas-container img {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
 }
}