/* ============      Navigation  ================*/


.nav-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #3e474f;
    box-shadow: 0 .5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

header label  {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 2.25em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
}

header button label {
    font-size: 1.4em;
}

header label:hover {
    background: #2e353b;
}

.label-wrapper {
    font-size: 1.2em;
    margin-right: 84px;
}

/* ============ Relations Sections  ========================= */

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 10em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
    overflow: auto;
}
.slide::-webkit-scrollbar {
    display: none;
}



.slide-one {
    background-image: url('../pics/3.jpg');
}

.slide-two {
    background-image: url('../pics/2.jpg');
}

.slide-three {
    background-image: url('../pics/4.jpg');
}

.slide-four {
    background-image: url('../pics/1.jpg');
}

.slide-five {
    background-image: url('../pics/5.jpg');
}

.slide-six {
    background-image: url('../pics/6.jpg');
}

[id^="slide"]:checked + .slide{
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide button {
    margin-top: 0.3em;
    margin-left: 0.27em;
    font-size: 10em;
    opacity: 0;
    transform: translateY(140%);
}


[id^="slide"]:checked + .slide button {
    opacity: 1;
    transform: translateY(0);
    transition: transform .5s .5s, opacity .5s .5s;

}

[id^="slide"]:checked + .slide button:hover {
    cursor: pointer;
    transition: transform 1s 0s;
    transform: scale(1.2);
}

.container {
    position: fixed;
    margin-top: 10em;
    top:0;
    transform-origin: 0.5 0.5;
    opacity: 0.7;
    width: 100%;
    transition: transform 1s;
    z-index:50;
}

/* Relations content */

.relations-content {
    background-color:rgba(62, 71, 79, .5);
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: -2em;
    overflow: auto;
    opacity: 0;
    margin-bottom: 6em;
}

/* ============ Openning Page ============== */
.slide-zero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    z-index: 0;
    padding: 0 0 0 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../pics/8.jpg');
}

[id^="slide-0"]:checked + .slide-zero{
    top: 0;
    z-index: 100;
    transition: top .65s ease-out;
}

.layer-zero {
    position: absolute;
    margin: -1em 0 0 0;
    height: 100%;
    width: 100%;
    background-color:rgba(62, 71, 79, .5);
}

.layer-zero button{
    font-size: 7em;
    position: absolute;
    margin-top:2.2em;
    margin-left:-4.8em;
    top: 100%;
    padding-top: 0;
    opacity: 0.7;
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button{
    top: 0;
    z-index: 100;
    transition: top 1s ease-out;
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button:hover{
    transition: transform 1s ease-out;
    transform: scale(1.2);
}

[id^="slide-0"]:checked + .slide-zero .layer-zero button:active{
    transform: scale(1.4);
}

 /*  ==========    MENU Page - Section     ================   */

 .slide-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    z-index: 0;
    padding:  0 0 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../pics/7.jpg');
}

[id^="slide-menu"]:checked + .slide-menu{
    top: 0;
    z-index: 100;
    transition: top .65s ease-out;
}

.container-menu {
    position: relative;
    top: -100%;
    z-index: 10;
    background-color:rgba(62, 71, 79, .5);
    padding: 4em 8em 4em 8em;
    margin: auto;
    margin-top: 4.5em;
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15%;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu {
    top: 0;
    z-index: 100;
    transition: top .65s .5s ease-out;
}

.grid-button, .grid-button-2 {
    background-color:rgba(62, 71, 79, .5);
    position: relative;
    top: -300%;
    z-index: 10;
    border: 5px solid white;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu .grid-button {
    top: 0;
    z-index: 100;
    transition: top .65s 1s ease-out, transform 1s;
}

[id^="slide-menu"]:checked + .slide-menu .container-menu .grid-button-2 {
    top: 0;
    z-index: 100;
    transition: top .65s 1.4s ease-out, transform 1s;
}


.grid-button button, .grid-button-2 button {
    font-size: 3em;
    font-weight: bolder;
    margin: .85em 0 0 0;
    padding: 0 0 0 0;
}

.grid-button:hover, .grid-button-2:hover {
    transform: scale(1.1);
}

.grid-button:active, .grid-button-2:active {
    transform: scale(1.2);
}

/*       =============     Menu Sections =============== */
.slide-1-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 0;
    padding:  0 0 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../pics/7.jpg');
}

[id^="slide-1-menu"]:checked + .slide-1-menu{
    top: 0;
    z-index: 200;
    transition: top .65s ease-out;
}


/* ==================    FOOTER   ===========*/


footer {
    margin-top: auto;
    background: #3e474f;
    box-shadow: 0 -.2em 1em #111;
    z-index: 900;
    line-height: 0.3em;
    font-size: 0.8em;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #788188;
    font-size: .5 em;
}

.footer li {
    margin: auto;
}

.footer a:hover {
    -webkit-box-shadow: 0px 0px 15px 18px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
 }